body {
    font-family: "Roboto", sans-serif;
    color:#434455;
    background-color: #FFFFFF;
}
ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
a {
    text-decoration: none;
}
img {
    display: block;
}

/*common*/

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/*header*/
.page-header {
    border-bottom: 1px solid #e7e9fc;
}
.header-container {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}

.logo{
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.header-logo{
    padding: 24px 0;
    margin-right: 76px;
}
.header-logo .logo-part {
    font-family: "Raleway", sans-serif;
    color: #2e2f42;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-link {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.contacts {
    font-style: normal;
    margin-left: auto;
}
.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.contacts-link {
    display: block;
    padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}
    /*first section*/
    .first-section {
        padding: 188px 0 188px;
        background-color:#2e2f42;
    }
    .container .first-section {
        display: flex;
        align-items: center;
    }
    .header-one {
        margin: auto;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px;
        padding-top: 188px;
        padding-bottom: 48px;
    }
    .first-section-button {
        display: block;
        margin: auto;
        margin-bottom: 188px;
        min-width: 169px;
        height: 56px;
        text-align: center;
        border: none;
        background-color: #4d5ae5;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        cursor: pointer;
        border-radius: 4px;
        padding: 16px 32px;
}
.first-section-button:hover,
.first-section-button:focus {
    background-color: #404bbf;
}

    /*second section*/

    .second-section {
        padding: 120px 0 120px;
    }
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
        }

    .container .second-section {
        display: flex;
        padding: 120px 0;
        align-items: center;
        }
    
    .nav-second-section {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        gap: 24px;
        }
        
.header-three {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.p-second-section {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.li-item {    
    width: 264px;
    flex-basis: calc((100% - 72px) / 4);
}

    /*third section*/
    .third-section{
        padding: 120px 0 120px;
    }
.container .third-section {
    display: flex;
    align-items: center;
    justify-content: center; 
}
.nav-list-third-section {
    display: flex;
    gap: 24px;
    text-align: center;
}
.third-section {
    background-color:#f4f4fd;
}
.header-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-top: 120px;
    margin-bottom: 72px;
}
.our-team-item {
    background-color:#fff;
    margin-top: 72px;
    margin-bottom: 120px;
}


    /*fourth section same as previous*/
    .fourth-section {
    padding: 120px 0 120px 0;
        
    }

    .our-portfolio-item {
        width: 360px;
        width: calc((100% - 48px) / 3);
    }

    .nav-list-fourth-section {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
        justify-content: space-between;
        align-items: stretch;
        width: 1128px;
        
    }
    .container .fourth-section {
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;


        }



/*footer*/
.container-footer {
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 156px;
}
.footer-logo .logo-part {
    font-family: "Raleway", sans-serif;
    color: #f4f4fd;
}

.footer-section {
    display: flex;
    padding: 100px 0;
    background-color: #2e2f42;
}
.logo .footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    

}
.p-footer {
    font-weight: 400;
    font-size: 16px;
    max-width: 264px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    margin-top: 16px;
}